services:
  app:
    build:
      context: .
    tty: true
    volumes:
      - ./src:/app
      - ./src/node_modules:/app/node_modules
    environment:
      - WATCHPACK_POLLING=true
    command: sh -c "npm run dev"
    ports:
      - "3000:3000"
    depends_on:
      - mysql

  mysql:
    build: ./mysql
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'p@ssword'
      MYSQL_DATABASE: 'football_contract_sim'
    ports:
      - "3306:3306"

volumes:
  db_data: {}
  node_modules: {}